<div data-controller="dashboard">
  <h1>Welcome!</h1>
  <div id="lockdown">
    <p data-dashboard-target="beforeLockDown" data-date="<%= @lock_down_date %>"></p>
    <p data-dashboard-target="beforeUnlockDown" data-date="<%= @unlock_down_date %>"></p>
  </div>
</div>
