<div data-controller="dashboard" class="w-full">
  <div class="w-full mb-10">
    <h1 class="text-2xl">Expired</h1>
    <%= render partial: "inventories/inventory_table", locals: { inventories: @in_stock_expired } %>
  </div>

  <div class="w-full">
    <h1 class="text-2xl">Recently consumed</h1>
    <%= render partial: "inventories/inventory_table", locals: { inventories: @recently_consumed } %>
  </div>
</div>
