<table class="table-auto w-full">
  <thead>
    <tr class="text-left">
      <th>Consumed date</th>
      <th>Consumed quantity</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @consume_histories %> 
  </tbody>
</table>
