<% if @consume_histories.present? %>
  <table class="table-auto w-full">
    <thead>
      <tr class="text-left">
        <th><%= t("Consumed On") %></th>
        <th><%= t("Quantity") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @consume_histories %> 
    </tbody>
  </table>
<% else %>
  <p class="text-center"><%= t("No consumption") %></p>
<% end %>

