<tr id="<%= dom_id item %>">
  <td>
    <%= item.name %>
  </td>
  <td>
    <%= link_to "S", item, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
  <td>
    <%= link_to 'E', edit_item_path(item), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  </td>
</tr>
