<li id="<%= dom_id item %>" class="py-2 border-b-2 last:border-b-0 border-teal-100 hover:bg-teal-100 flex justify-between">
  <%= link_to item.name, edit_item_path(item), class: "text-sky-500 hover:text-sky-700 block" %>
  <%= link_to '×', item_path(item), data: { turbo_method: :delete }, class: "text-red-500 hover:text-white hover:bg-red-500 hover:rounded-circle px-2 block" %>
</li>
