<div class="mx-auto md:w-2/3 w-full">
  <%= render "layouts/notice" %>

  <h1 class="font-bold text-4xl">New item</h1>

  <%= render "form", item: @item %>

  <div class="flex flex-col sm:flex-row mt-2">
    <%= link_to 'Back to items', items_path, class: "btn-secondary text-center" %>
  </div>
</div>
