<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= render partial: "products/variant", locals: { product: product, item_link: true } %>
  </p>

  <div class="mb-5">
    <% if product.inventories.present? %>
      <%= render partial: "inventories/inventory_summary", locals: { inventories: product.inventories.filter { |inv| !inv.exhausted? } } %>
    <% end %>
  </div>

</div>
